In [3]:
# Import pandas package
import pandas as pd

In [4]:
s1 = pd.Series([10,20,30,40,50])
print("The series values are:", s1.values)
print("The index values are:", s1.index.values)

The series values are: [10 20 30 40 50]
The index values are: [0 1 2 3 4]

In [5]:
s2 = pd.Series([80,93,78,85,97], index=['English','Science','Social','Tamil','Maths'])
print("The Marks obtained by student are", s2)

The Marks obtained by student are English    80
Science    93
Social     78
Tamil      85
Maths      97
dtype: int64

In [6]:
# slicing using default integer index
s1[1:4]

1    20
2    30
3    40
dtype: int64

In [7]:
dict_fruits = { 'Orange':80,
          'Apples':210,
          'Bananas':50,
         'Grapes':90,
         'Watermelon':70}

In [8]:
# Lets convert this dictionary into a series
fruits = pd.Series(dict_fruits)

In [9]:
print("Fruits and pricesn", fruits)

Fruits and pricesn Orange         80
Apples        210
Bananas        50
Grapes         90
Watermelon     70
dtype: int64

In [10]:
# Slice the series and retrieve price of Grapes
print("The price per kg of grapes is:", fruits['Grapes'])

The price per kg of grapes is: 90

In [12]:
df_marks = pd.DataFrame(s2, columns=['Student1'])
print("The dataframe created from series isn",df_marks)

The dataframe created from series isn          Student1
English        80
Science        93
Social         78
Tamil          85
Maths          97

In [13]:
# Create Height series (in feet)
height = pd.Series([5.3, 6.2,5.8,5.0,5.5], index=['Person 1','Person 2','Person 3','Person 4','Person 5'])
# Create Weight Series (in kgs)
weight = pd.Series([65,89,75,60,59], index=['Person 1','Person 2','Person 3','Person 4','Person 5'])

In [14]:
# Create dataframe
df_person = pd.DataFrame({'height': height, 'weight': weight})
print("The Person table details are:n", df_person)

The Person table details are:n           height  weight
Person 1     5.3      65
Person 2     6.2      89
Person 3     5.8      75
Person 4     5.0      60
Person 5     5.5      59

In [18]:
s2['Tamil']

85

In [ ]:
# making a change